<html>
 <head>
     <style>
ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
</style>
   <h1>Doctor Details</h1>
   <style>
     h1 {
       text-align: center;
     }
   </style>
 </head>
 <body>
 <ul class="no-bullets">
     <li>Doctor Name:{{ doctors.name }}</li>
     <li>Age:{{ doctors.age }}</li>
     <li>Gender :{{ doctors.gender }}</li>
     <li>Address :{{ doctors.address }}</li>
     <li>Phone :{{ doctors.phone }}</li>
     <li>Email :{{ doctors.email }}</li>
     <li>Specialty :{{doctors.specialty }}</li>
     <li>Created Date :{{doctors.created_date }}</li>
<h2>******************************************************************************</h2>

 </ul>

 </body>
</html>

</html>