<html>
 <head>
     <style>
ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
</style>
   <h1>Nurse Details</h1>
   <style>
     h1 {
       text-align: center;
     }
   </style>
 </head>
 <body>
 <ul class="no-bullets">
     <li>Nurse Name:{{ nurses.name }}</li>
     <li>Age:{{ nurses.age }}</li>
     <li>Gender :{{ nurses.gender }}</li>
     <li>Address :{{nurses.address }}</li>
     <li>Email{{ nurses.email }}</li>
     <li>Phone :{{ nurses.phone}}</li>
     <li>Assigned Doctor :{{ nurses.assigned_doctor}}</li>
     <li>Created Date :{{ nurses.created_date}}</li>
  <h2>************************************************************************************************</h2>

 </ul>

 </body>
</html>

</html>