<html>
 <head>
     <style>
ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
</style>
   <h1>Prescription Details</h1>
   <style>
     h1 {
       text-align: center;
     }
   </style>
 </head>
 <body>
 <ul class="no-bullets">
     <li>Patient Name:{{ patients.name }}</li>
     <li>Age:{{ patients.age }}</li>
     <li>Gender :{{ patients.gender }}</li>
     <li>Email :{{patients.email }}</li>
     <li>Phone{{ patients.phone }}</li>
     <li>Created Date :{{ patients.created_date}}</li>
  <h2>************************************************************************************************</h2>

 </ul>

 </body>
</html>

</html>